scapy
pandas
paramiko
python-nmap
schedule
reportlab
jsonschema
openai
nest-asyncio
python-jose[cryptography]
passlib[bcrypt]
fastapi
uvicorn
typer
rich
python-multipart
requests
pydantic
pydantic-settings
